<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
		<rewrite>
            <rules>
                <clear />
<rule name="HTTP/S to HTTPS Redirect" enabled="true" stopProcessing="true">
        <match url="(.*)" />
        <conditions logicalGrouping="MatchAny">
          <add input="{SERVER_PORT_SECURE}" pattern="^0$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
				<rule name="Redirect to non-www" stopProcessing="true">
					<match url="(.*)" negate="false"></match>
					<action type="Redirect" url="https://getprime.org/{R:1}"></action>
					<conditions>
						<add input="{HTTP_HOST}" pattern="^getprime\.org$" negate="true"></add>
					</conditions>
				</rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
<system.web>
   <authentication mode="None" />
</system.web>
</configuration>
